* {
  padding: 0px;
  margin: 0px;
}

.content {
  text-align: center;
  width: 60%;
  margin: auto;
}

.title {
  font-size: 50px;
  font-weight: 1000;
  padding: 10px;
  color: whitesmoke;
  margin: auto;
}

.sudoku-grid {
  margin: auto;
  padding: auto;
  width: 530px;
  height: 530px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
}

.quadrent {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  grid-row-gap: 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
}

.numberBox {
  margin: auto;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 750;
  border-width: 3px;
  border-color: rgba(245, 245, 245, 0.8);
  box-shadow: 2px 2px 2px 2px grey inset;
}

.numberBox:focus {
  border-width: 3px;
  box-shadow: 5px 5px 5px 5px grey inset;
}

.msgBox {
  padding: 10px;
  margin: 15px auto;
  width: 400px;
  background-color: whitesmoke;
  border-radius: 100px;
  box-shadow: 15px 15px 10px grey inset;
}

.msgBox p {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.expainingBox {
  margin: 10px;
  width: 1000px;
  padding: 20px 10px 15px 40px;
  border: 1ch solid black;
  background-color: whitesmoke;
  border-radius: 50px;
  box-shadow: 15px 15px 10px grey inset;
}

.expainingBox p {
  font-size: 20px;
  text-align: left;
}
