.content {
  text-align: center;
  margin: auto;
  width: 50%;
}

.numberBox {
  text-align: center;
  width: 55px;
  height: 55px;
  font-size: 25px;
}

.errMsg {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.expainingText {
  font-size: 20px;
  text-align: left;
  margin: 10px;
  padding: 5px;
  border: 1ch solid white;
  border-radius: 1ch;
}
